.wrapper {
  display: inline-flex;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: 'TikTokFont', sans-serif;
  min-width: 100px;
  padding: 9px 16px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;
  background: transparent;
  user-select: none;

  + .wrapper {
    margin-left: 8px;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.primary {
  color: var(--white);
  background: var(--primary);

  &:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
  }
}

.outline {
  color: var(--primary);
  border-color: currentColor;

  &:hover {
    background-color: rgba(254, 44, 85, 0.06);
  }
}

.icon + .title,
.title + .icon {
  margin-left: 10px;
}
.rounded {
  color: var(--white);
  border-radius: 999px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
  border-color: rgba(22, 24, 35, 0.12);
  background: rgba(37, 37, 37, 1);
  &:hover {
    border-color: rgba(22, 24, 35, 0.2);
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.text {
  color: var(--white);
  min-width: 110px;
  border: 1px solid rgba(22, 24, 35, 0.12);
  background: rgba(37, 37, 37, 1);

  &:hover {
    background-color: rgba(255, 255, 255, 0.04);
  }
}
.small {
  min-width: 96px;
  padding: 8px 16px;
}

.large {
  min-width: 150px;
  padding: 14px 16px;
}
