.container {
    position: relative;
    padding: 20px 20px;
    // margin-left: 20px;
}

///user
.user {
    display: flex;
    flex-direction: column;
}

.user-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.avatar {
    width: 116px;
    height: 116px;
    object-fit: cover;
    border-radius: 50%;
}

.info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 32px;
}

.info p {
    font-size: 18px;
}

.btn {
    margin-top: 8px;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #252525;
    color: var(--text-color);
    border: 1px solid #121212;

    &:hover {
        border-color: rgb(208, 209, 211);
        background-color: rgb(18, 18, 18);
        border: 1px solid #fff;
    }
}

.btn span {
    margin-left: 10px;
    font-size: 16px;
}

.share {
    position: absolute;
    top: 20px;
    right: 130px;
    font-size: 24px;
    cursor: pointer;
}


//user-part2
.user-count {
    margin-top: 22px;
    display: flex;
}

.count {
    margin-right: 20px;
}
.count strong {
    font-size: 18px;
    margin-right: 10px;
    color: var(--text-color);
}

.count {
    color: rgba(255, 255, 255, 0.75);
}


.title{
    margin-top: 10px;
    font-size: 16px;
}


//phần phát video
.content {
    margin-top: 20px;
}
