.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: var(--default-layout-header-width);
    max-width: 100%;
    // padding: 0 var(--default-layout-horizontal-spacer);
    margin-top: var(--default-layout-header-heigth);
    display: flex;
}
.content {
    height: 100%;
    position: relative;
    top: 0;
    left: 356px;
}
