.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.container{
    width: 1150px;
    display: flex;
}
.content{
    height: 2000px;
    // flex: 1;
}