.wrapper {
  --search-button-width: 52px;

  width: 100%;
  height: 60px;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
  background-color: black;
}

.inner {
  width: var(--default-layout-header-width);
  width: 1150px;
  height: 100%;
  // padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  align-items: center;
}

.header__search,
.search-result {
  width: 330px;
}
.header__search {
  position: relative;
  height: 46px;
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  border-radius: 92px;
  background-color: rgba(255, 255, 255, 0.253);
  border: 1.5px solid transparent;

  input {
    // flex: 1;
    height: 100%;
    width: 220px;
    padding: 12px 0;
    background-color: transparent;
    font-size: 1.6rem;
    color: var(--text-color);
  }

  input:not(:placeholder-shown) ~ .search__btn {
    color: white;
  }

  &::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 28px;
    top: 9px;
    right: var(--search-button-width);
    background-color: rgba(255, 255, 255, 0.221);
  }

  &:focus-within {
    border-color: #cbcbcb;
  }
}


.search__clear,
.search__loading {
  position: absolute;
  top: 50%;
  right: calc(var(--search-button-width) + 16px);
  transform: translateY(-50%);
  font-size: 16px;
  color: #767676;
  background-color: transparent;
}

.search__btn {
  width: var(--search-button-width);
  height: 100%;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.75);
  font-size: 18px;
  border-top-right-radius: 92px;
  border-bottom-right-radius: 92px;

  &:hover {
    background-color: rgba(157, 158, 163, 0.361);
    cursor: pointer;
  }
  &:active {
    background-color: rgba(157, 158, 163, 0.2);
  }
}

.search-title {
  color: #ccc;
  margin-left: 15px;
}
.action {
  display: flex;
  align-items: center;
}


//action

.action{
  display: flex;
  align-items: center;

}

.more-btn {
  color: var(--white);
  background-color: transparent;
  padding: 0px 8px;
  font-size: 2rem;
  margin-left: 15px;
  cursor: pointer;
}

.action-btn{
  font-size: 2.3rem;
  background-color: transparent;
  color: white;
  padding: 4px 12px;
  cursor: pointer;
}
.user-avatar{
  width: 32px;
  height: 32px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 12px;
}
.avatar{
  width: 100%;
}